## Deliverable 2. Create a Customer Travel Destinations Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [13]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv('../Weather_Database/WeatherPy_Database.csv')
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Liverpool,GB,53.4106,-2.9779,41.61,89,20,1.99,few clouds
1,1,Nikolskoye,RU,59.7035,30.7861,29.71,94,100,13.15,snow
2,2,Mataura,NZ,-46.1927,168.8643,61.48,93,100,2.77,overcast clouds
3,3,Atuona,PF,-9.8000,-139.0333,77.86,75,10,14.85,clear sky
4,4,Gwadar,PK,25.1216,62.3254,76.30,63,0,13.62,clear sky

In [35]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 80
What is the maximum temperature you would like for your trip? 85

In [36]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
5,5,Cape Town,ZA,-33.9258,18.4232,81.10,52,0,5.99,clear sky
15,15,Busselton,AU,-33.6500,115.3333,84.04,42,0,20.51,clear sky
17,17,Malindi,KE,-3.2175,40.1191,81.90,72,100,13.56,overcast clouds
20,20,Hermanus,ZA,-34.4187,19.2345,81.90,60,41,15.88,scattered clouds
30,30,Nelson Bay,AU,-32.7167,152.1500,80.10,72,62,1.01,broken clouds
41,41,Carnarvon,AU,-24.8667,113.6333,82.42,70,2,14.99,clear sky
43,43,Vaini,TO,-21.2000,-175.2000,81.16,78,100,13.85,light rain
56,56,Port Elizabeth,ZA,-33.9180,25.5701,81.10,62,0,7.70,clear sky
61,61,Esperance,AU,-33.8667,121.9000,82.20,50,18,25.32,few clouds
64,64,Tsiroanomandidy,MG,-18.7667,46.0333,83.37,59,38,1.45,light rain

In [37]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                64
City                   64
Country                64
Lat                    64
Lng                    64
Max Temp               64
Humidity               64
Cloudiness             64
Wind Speed             64
Weather Description    64
dtype: int64

In [38]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
5,5,Cape Town,ZA,-33.9258,18.4232,81.10,52,0,5.99,clear sky
15,15,Busselton,AU,-33.6500,115.3333,84.04,42,0,20.51,clear sky
17,17,Malindi,KE,-3.2175,40.1191,81.90,72,100,13.56,overcast clouds
20,20,Hermanus,ZA,-34.4187,19.2345,81.90,60,41,15.88,scattered clouds
30,30,Nelson Bay,AU,-32.7167,152.1500,80.10,72,62,1.01,broken clouds
...,...,...,...,...,...,...,...,...,...,...
582,582,Lodja,CD,-3.4833,23.4333,84.11,53,100,2.44,overcast clouds
589,589,Alice Springs,AU,-23.7000,133.8833,83.75,70,40,13.80,light intensity shower rain
625,625,Gondanglegi,ID,-7.7479,112.0132,80.17,85,99,7.16,moderate rain
636,636,Inhambane,MZ,-23.8650,35.3833,81.55,55,100,8.34,overcast clouds
650,650,Dhidhdhoo,MV,6.8833,73.1000,82.76,73,16,15.70,few clouds

In [39]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
5,Cape Town,ZA,81.10,clear sky,-33.9258,18.4232,
15,Busselton,AU,84.04,clear sky,-33.6500,115.3333,
17,Malindi,KE,81.90,overcast clouds,-3.2175,40.1191,
20,Hermanus,ZA,81.90,scattered clouds,-34.4187,19.2345,
30,Nelson Bay,AU,80.10,broken clouds,-32.7167,152.1500,
41,Carnarvon,AU,82.42,clear sky,-24.8667,113.6333,
43,Vaini,TO,81.16,light rain,-21.2000,-175.2000,
56,Port Elizabeth,ZA,81.10,clear sky,-33.9180,25.5701,
61,Esperance,AU,82.20,few clouds,-33.8667,121.9000,
64,Tsiroanomandidy,MG,83.37,light rain,-18.7667,46.0333,

In [40]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")    
        
hotel_df.head()

Hotel not found... skipping.

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
5,Cape Town,ZA,81.10,clear sky,-33.9258,18.4232,Southern Sun Waterfront Cape Town
15,Busselton,AU,84.04,clear sky,-33.6500,115.3333,Observatory Guest House
17,Malindi,KE,81.90,overcast clouds,-3.2175,40.1191,African House Resort
20,Hermanus,ZA,81.90,scattered clouds,-34.4187,19.2345,Misty Waves Boutique Hotel
30,Nelson Bay,AU,80.10,broken clouds,-32.7167,152.1500,Mantra Nelson Bay

In [41]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
5,Cape Town,ZA,81.10,clear sky,-33.9258,18.4232,Southern Sun Waterfront Cape Town
15,Busselton,AU,84.04,clear sky,-33.6500,115.3333,Observatory Guest House
17,Malindi,KE,81.90,overcast clouds,-3.2175,40.1191,African House Resort
20,Hermanus,ZA,81.90,scattered clouds,-34.4187,19.2345,Misty Waves Boutique Hotel
30,Nelson Bay,AU,80.10,broken clouds,-32.7167,152.1500,Mantra Nelson Bay
41,Carnarvon,AU,82.42,clear sky,-24.8667,113.6333,Hospitality Carnarvon
43,Vaini,TO,81.16,light rain,-21.2000,-175.2000,Keleti Beach Resort
56,Port Elizabeth,ZA,81.10,clear sky,-33.9180,25.5701,39 On Nile Guest House
61,Esperance,AU,82.20,few clouds,-33.8667,121.9000,Hospitality Esperance
64,Tsiroanomandidy,MG,83.37,light rain,-18.7667,46.0333,Hotel Ravinala

In [42]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [43]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [44]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)


# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))